nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build/classes
build/empty
build/generated-sources
build/built-jar.properties
private
/nbproject/private/private.properties
/nbproject/private/configs/Run_as_WebStart.properties
/nbproject/private/configs/Run_in_Browser.properties
configs
