/project_1st_attempt/nbproject/private/
/project_1st_attempt/build/
/project_1st_attempt/dist/
/FlowReader/nbproject/private/
/FlowReader/build/
/FlowReader/dist/
/bin/
/bin/flowreader/
/bin/project_1st_attempt/
/build/
