/* 
    Document   : Background
    Created on : 07-Nov-2012, 17:32:19
    Author     : suparpat
    Description:
        Purpose of the stylesheet follows.
*/

.root { 
    -fx-background-color: floralwhite;
}

