#closeBtn{
	-fx-background-color: #C70A0A;
    -fx-background-radius: 0;
    -fx-padding: 1 20 1 20;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    
}

#closeBtn:hover{
	-fx-background-color: #EB0707;
}